@use '@carbon/react' as styles;
@use '@carbon/motion';

:root {
  @include styles.theme(styles.$white);
  --animate-duration: #{motion.$duration-slow-01};
}

[data-carbon-theme='g10'] {
  @include styles.theme(styles.$g10);
}

[data-carbon-theme='g90'] {
  @include styles.theme(styles.$g90);
}

[data-carbon-theme='g100'] {
  @include styles.theme(styles.$g100);
}

body {
  background: styles.$background;
  color: styles.$text-primary;
}

.cds--accordion__content {
  padding: 0 !important;
}


.cds--date-picker {
  width: 100%;
  &__input {
    inline-size: 100% !important;
  }
  &-container {
    width: 100%;
  }
  &-input__wrapper > span {
    width: 100%;
  }
}
.input-grid {
  display: grid;
  grid-gap: 1rem;

  .input-group {
    display: grid;
    grid-gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .full-width-input {
    grid-column: 1 / -1; // Ocupa todas las columnas disponibles

    @media (max-width: 767px) {
      grid-column: 1;
    }
  }
}

.header-content {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-image {
    max-width: 40%;

    @media (max-width: 767px) {
      max-width: 90%;
      margin: auto;
    }


  }
  .result-image {
    width: 40%;
    margin-left: 2rem;

    @media (max-width: 767px) {
      width: 68%;
        margin-left: 2rem;
    }
    @media (max-width: 580px) {
      width: 74%;
    }
  }

  .header-image-historial {
    width: 40%;
    margin-left: 2rem;

    @media (max-width: 767px) {
      width: 78%;
        margin-left: 2rem;
    }
    @media (max-width: 580px) {
      width: 78%;
    }
  }

  .header-text {
    // Aquí puedes añadir estilos adicionales para el texto si lo necesitas
  }
}

#logo {
  filter: invert(100%); // Invierte los colores para el modo oscuro
}

#logo-dark {
}

.tag-error {
  background-color: var(--cds-support-error);
  color: white;
}

.tag-caution-major {
  background-color: var(--cds-support-caution-major);
  color: white;
}

.tag-caution-minor {
  background-color: var(--cds-support-caution-minor);
  color: white;
}

.tag-dark-green {
  background-color: darkgreen;
  color: white;
}

.tag-success {
  background-color: var(--cds-support-success);
  color: white;
}

